<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>TC_Navigate</td><td>TestIron.testNavigate()[pri:0, instance:tuan6.TestIron@2133c8f8]<br/></td></tr>
<tr><td>TC_UI</td><td>TestIron.checkLogo()[pri:0, instance:tuan6.TestIron@2133c8f8]<br/></td></tr>
</table>
