<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestSuitIron</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a58fbd">  <td>16/01/22 12:58:03</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestIron.checkLogo()[pri:0, instance:tuan6.TestIron@2133c8f8]">checkLogo</td> 
  <td>main@884457408</td>   <td></td> </tr>
<tr bgcolor="a58fbd">  <td>16/01/22 12:58:03</td>   <td>53</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestIron.testNavigate()[pri:0, instance:tuan6.TestIron@2133c8f8]">testNavigate</td> 
  <td>main@884457408</td>   <td></td> </tr>
</table>
