<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>tuan6.TestIron</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testNavigation</td>
<td>TC_Navigate </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkLogo</td>
<td>TC_UI </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyTextGuideDownload</td>
<td>TC_Navigate </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
