<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a49d8f">  <td>16/01/22 15:01:27</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TestIron.beforeTest()[pri:0, instance:tuan6.TestIron@7c30a502]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@403424356</td>   <td></td> </tr>
<tr bgcolor="a49d8f">  <td>16/01/22 15:01:54</td>   <td>26643</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestIron.testNavigation()[pri:0, instance:tuan6.TestIron@7c30a502]">testNavigation</td> 
  <td>main@403424356</td>   <td></td> </tr>
<tr bgcolor="a49d8f">  <td>16/01/22 15:02:27</td>   <td>59302</td> <td>&nbsp;</td><td title="&lt;&lt;TestIron.afterTest()[pri:0, instance:tuan6.TestIron@7c30a502]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@403424356</td>   <td></td> </tr>
</table>
